/**
 * CSS für den Ladescreen im Shop
 */
.loader-holder {
    display:none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 200%;
    background: #000;
    opacity: 0.8;
    z-index: 99999;
}
.loader {
    margin: 0 auto;
    font-size: 5px;
    position: relative;
    top: 25%;
    z-index: 100000;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(255, 255, 255, 0.2);
    border-right: 1.1em solid rgba(255, 255, 255, 0.2);
    border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
    border-left: 1.1em solid #ffffff;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 0.8s infinite linear;
    animation: load8 0.8s infinite linear;
}
.loader,
.loader:after {
    border-radius: 50%;
    width: 65px;
    height: 65px;
}
@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}