#GridSystem{
    min-height: 100%;
    width: 1100px;
}

.center{
    margin: 0 auto;
}

#GridSystem .full{
    max-width: 100%;
    height: auto;
}

#GridSystem .half{
    max-width: 100%;
    height: auto;
}

#GridSystem .triple{
    max-width: 100%;
    height: auto;
}

.left {
    float: left;
}

#GridSystem > .container{
    height: auto;
    margin-bottom: 25px;
}

#GridSystem img {
    max-width: 100%;
    height: auto;
}

#GridSystem > .container > div{
    margin-bottom: 29px;
    margin-right: 29px;
}

#GridSystem > .container > .last{
    margin-right: 0!important;
}

.lol{
    shape-outside: url('rocket.png');
    shape-margin: 15px;
    shape-image-threshold: 0.5;
    background: #009966 url('nebula.jpg');
    -webkit-mask-image: url('rocket.png');
    -webkit-mask-repeat: no-repeat;
    width: 521px;
    background-size: 100%;
    background-position: -515px 544px;
    height: 521px;
}